#screen {
  margin-top: 10px;
  margin-left: 10px;
}

.box {
  width: 25px;
  height: 20px;
  background-color: red;
  border: 1px solid #999;
  margin-left: 5px;
  color: white;
  box-sizing: border-box;
  /*padding: 5px 5px;*/
  display: inline-block;
  text-align: center;
}
